[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PCLassoReg"]
	path = PCLassoReg
	url = https://github.com/weiliu123/pclassoreg
	shallow = true
	registered = true
